* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c2bbf0;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #c4515b;
  background-color: #f1e3f3;
}
#resetBtn {
  font-size: 1.25rem;
  padding: 0.78rem 2.6rem;
  border: none;
  border-radius: 0.7rem;
  background-color: #c4515b;
  color: #f1e3f3;
}
#msg {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
  color: #0b0051;
}
.msg-box {
  margin: 2rem 0 1.4rem 0;
}
.hide {
  display: none;
}
